body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, img, div {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: 400;
    font-size: 14px;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}